@model Guid
@{
    List<Scarpa> Dettagli = RepositoryObject.GetAll();
    Scarpa scarpa = Dettagli.Find(S => S.Id == Model);

}

<div class="container dettaglio">
    <div class="row">
        <div class="col-md-8 d-flex align-items-start justify-content-center flex-wrap">
            <img src="@scarpa.ImmagineDiCopertina" alt="Alternate Text"/>
            <img src="@scarpa.ImmagineAggiuntiva" alt="Alternate Text"/>
            <img src="@scarpa.ImmagineAggiuntiva2" alt="Alternate Text"/>
            <img src="@scarpa.Logo" alt="Alternate Text" />
        </div>
        <div class="col-md-4">
            <h3>@scarpa.NomeArticolo</h3>
            <p>@scarpa.Descrizione</p>
            <p>@scarpa.Prezzo € </p>

            <p>3 pagamenti da @(Math.Round(scarpa.Prezzo / 3, 2)) € a interessi 0% con Klarna. Scopri di più </p>
            <p>
                Paga in 3 rate da @(Math.Round(scarpa.Prezzo / 3, 2)) € senza interessi con PayPal. TAEG 0%. Scopri di più.
            </p>

        </div>
    </div>
</div>